
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

h1 {
  font-size: 3.125rem;
  color: #feb72b;
  margin: 50px auto 0 auto;
  font-family: 'Gotu', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
  color: #de7119;
}

.top-container {
  background-color: #d4f8e8;
  padding-top: 20px;

}

.middle-container {
  background-color: #cbe2b0;
  padding-bottom: 10px;
}

.bottom-container {
  background-color: #639a67;
  padding: 25px 0 10px;
}

.intro {
  width: 50%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

p {
    line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #231903;
  border-width: 5px;
  width: 4%;
}

.skills {
padding-top: 10px;
}

.bio-message {
  width: 50%;
  margin: 75px auto 75px auto;
}

.contact {
  padding-top: 20px;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-message {
  width: 50%;
}

.mountain {
  margin: 20px auto 0 auto;
}

.selfie {
  height: 150px;
  padding-top: 50px;
}

.backpack {
  width: 25%;
  float: left;
  margin-top: 15px;
  margin-right: 30px;
}

.fire{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.river {
  height: 75px;
}

a {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #231903;
}

.copyright {
  color: #eaf6f6;
  font-size: .75rem;

}

.myButton {
	box-shadow: 0 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0 1px 0 #5b8a3c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #4b8f29 100%);
	background-color:#77b55a;
}
.myButton:active {
	position:relative;
	top:1px;
}
